{% extends "basic.html" %}
{% block content %}

<form action="../add/" method="post">
  Artist:<br>
  <input type="text" name="artist" id="artist"><br><br>
  Song:<br>
  <input type="text" name="song" id="song"><br><br>
  Album:<br>
  <input type="text" name="album" id="album"><br><br>
  Genre:<br>
  <input type="text" name="genre" id="genre"><br><br>
  Release Date:<br>
  <input type="text" name="release" id="release", placeholder="dd/mm/yy"><br><br>
  Rating:<br>
  <input type="radio" name="rating" id="rating" value="1" checked>1
  <input type="radio" name="rating" id="rating" value="2">2
  <input type="radio" name="rating" id="rating" value="3">3
  <input type="radio" name="rating" id="rating" value="4">4
  <input type="radio" name="rating" id="rating" value="5">5
  <input type="submit" value="Submit">
</form>

{% endblock %}}
