{% extends "basic.html" %}
{% block content %}

<p>
Oops, it appears this page doesn't exist. Please report this incident to
"alyhuggan@hotmail.co.uk" and we will fix it ASAP
</p>

</body>
</html>

{% endblock %}
