{% extends "basic.html" %}
{% block content %}

<form action="../genres/?key=" method="get" name="form"
  <label for"search"Search:</label>
  <input type="text" name="key" id="search"/>
  <input type="submit" name="" id="submit"/>
</form>

{% for genre in genre%}
<p>
Artist: {{ genre.artist }}<br>
Song: {{ genre.song }}<br>
Genre: {{ genre.genre }}<br>
</p>
{% endfor %}

{% endblock %}}
